<div class="col-xs-12">
	<div class="panel panel-default">
		<div class="panel-heading">{{ itemDetail.id }} - {{ itemDetail.name }}</div>
		<div class="panel-body">
			<div>Short name: {{ itemDetail.short_name }}</div>
			<div>Description: {{ itemDetail.description }}</div>
			<div>Small portion name: {{ itemDetail.small_portion_name }}</div>
			<div>Price small: {{ itemDetail.price_small }}</div>

			<div>Large portion name: {{ itemDetail.large_portion_name }}</div>
			<div>Price large: {{ itemDetail.price_large }}</div>
		</div>
	</div>
</div>